<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header collapsedHeight="30px" expandedHeight="30px">
    <mat-panel-title>
      Running Transactions({{totalRunningTransactions}})
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="transaction" *ngFor="let transaction of runningTransactions">
    <div class="transaction-cord flex-box">
      <div class="transaction-cord-img" [ngStyle]="{'background':'url('+transaction.cord.img+') no-repeat center'}"></div>
      <div>{{transaction.cord.name}}</div>
      <div class="transaction-cord-actions ml-auto">
        <span class="svg-icon rt-icon star-icon"></span>
        <span class="svg-icon rt-icon like-icon"></span>
        <span class="svg-icon rt-icon menu-icon"></span>
      </div>
    </div>
    <div class="transaction-line flex-box">
      <div class="img-thumbnail" [ngStyle]="{'background':'url('+transaction.line.img+')'}"></div>
      <div class="transaction-line-data">
        <div class="transaction-line-name ellipse-text-overflow">{{transaction.line.name}}</div>
        <div class="transaction-time ellipse-text-overflow">{{transaction.line.time}}</div>
      </div>
      <div class="flex-box ml-auto transaction-amount">{{transaction.line.amount}}</div>
    </div>
  </div>
</mat-expansion-panel>
