<section class="store-wrapper">
   
    <mat-grid-list gutterSize="{{_outerCellGt}}"  cols="9" [rowHeight]="50" class="flex-container">
        <mat-grid-tile colspan="2" class="def_bg bs cp hw_gd_area" *ngFor="let viewBy of viewByList">
            <!-- <mat-card class="cell-card">
                <mat-card-header class="fh pd-T4 cell-txt">
                    <div mat-card-avatar style="background:url('https://media.npr.org/about/people/bios/biophotos/snelson_sq-2767caa78582a137346c4cd0281656a4872fa37d-s100-c85.jpg')">
                        
                    </div>
                    <mat-card-title class="cell-card-title">Title</mat-card-title>
                    <mat-card-subtitle class="cell-card-subtitle txt-wrapper">Sub title</mat-card-subtitle>
                </mat-card-header>
            </mat-card> -->
            <div class="card-row fh pd-LR10" [routerLink]="[viewBy.load_view]" routerLinkActive="active-link">
                <div class="table-row fh">
                    <div class="table-row-cell img-sm">
                        <!-- <div class="img-sm" [ngStyle]="{'background-image': 'url(' + viewBy.img_url + ')'}"></div> -->
                        <img class="img-sm" src="{{viewBy.img_url}}">
                    </div>
                    <div class="table-row-cell pd-L7 txt-wrapper ln1_2" style="width:calc(100% - 30px);">
                        <div class="cell-title cell-txt">{{viewBy.title}}</div>
                        <div class="cell-subtitle cell-txt">{{viewBy.sub_title}}</div>
                    </div> 
                </div>
            </div>
        </mat-grid-tile> 
       
        <mat-grid-tile colspan="3" class="def_bg bs">
            <div class="card-row fh pd-LR10">
                <div class="table-row fh">
                    <div class="table-row-cell">
                        <div class="cust_dis_ig">
                            <span class="ps_abs lta ic"><i class="material-icons">location_on</i></span>
                            <input class="cust_dis_i" style="padding-left:35px;" placeholder="Bur Dubai, Dubai">
                            <span class="ps_abs rta ic"><i class="material-icons">add</i></span>
                            <span class="cust_dis_ig_addon"><i class="material-icons">my_location</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="hr_gt"></div>
  
    
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px" class="filter-accodian">
            <mat-panel-title class="flex-box">
            <img src="/assets/images/filter-icon.svg" style="height: 30px"/> Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-box justify-content-center"><span>No filters!</span></div>
    </mat-expansion-panel>
        
    <div class="hr_gt"></div>

    <div style="height:calc(100vh - 228px);">
        <router-outlet></router-outlet>
    </div>
  
</section>
