<div class="login-section">
  <div class="action-section">
    <nav class="login-page-nav">
      <a class="logo-link" [routerLink]="['/']">Pushcord</a>
      <ul class="nav-items-section mt-0 mb-0 mr-15" *ngIf="loginNavBarToggle">
        <li>
          <a [routerLink]="['/']" class="nav-link">Videos</a>
        </li>
        <li>
          <a [routerLink]="['/']" class="nav-link">FAQs</a>
        </li>
        <li>
          <a [routerLink]="['/']" class="nav-link">Help & Support</a>
        </li>
      </ul>
      <input type="checkbox" name="loginNavBarToggle" id="loginNavBarToggle" [(ngModel)]="loginNavBarToggle" />
      <label class="login-nav-toggle" for="loginNavBarToggle">
        <span class="material-icons">{{loginNavBarToggle ? "clear": 'menu'}}</span>
      </label>
    </nav>
    <div class="action-area">
      <div class="text-area">
        <h2>Welcome to the biggest business hub in the world</h2>
        <p>We provide you with the best and biggest business network with over a million active businesses and 5 billion
          users connected to their networks from all around the world availing  the best  and latest  deals.</p>
        <p>Connect to your vendors, suppliers and customers via transactions and the communication that you did with them.</p>
        <button *ngIf="action === 'LOGIN'" [routerLink]="['/register']" type="button" class="text-area-btn" mat-button>REGISTER NOW</button>
        <button *ngIf="action === 'REGISTER'" [routerLink]="['/login']" type="button" class="text-area-btn" mat-button>ALREADY HAVE AN ACCOUNT</button>
      </div>
      <div class="form-section">
        <ng-template form-load></ng-template>
      </div>
    </div>
  </div>
  <footer class="footer-nav-section p-10 pt-20 pb-20">
    <div>
      &copy; Pushcord 2010 - 2017
    </div>
    <ul class="language-links m-0 ml-auto">
      <li>
        <a href="#" class="footer-link">English</a>
      </li>
      <li>
        <a href="#" class="footer-link">Francais</a>
      </li>
      <li>
        <a href="#" class="footer-link">Bahasa</a>
      </li>
      <li>
        <a href="#" class="footer-link">Indonesia</a>
      </li>
      <li>
        <a href="#" class="footer-link">PyccKnn</a>
      </li>
      <li>
        <a href="#" class="footer-link">Espanol</a>
      </li>
      <li>
        <a href="#" class="footer-link">Portugue</a>
      </li>
      <li>
        <a href="#" class="footer-link">Deutsh</a>
      </li>
      <li>
        <a href="#" class="footer-link">Italiano</a>
      </li>
    </ul>
  </footer>
</div>
