
.side-nav-list{
    display: flex;
    padding: 5px 5px;
    color: #7d7d7d;
    line-height: normal;
    justify-content: start;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);
}
a.side-nav-list:hover{
    text-decoration: none;
    background-color: #fff;
    color: #0091e5;
}
.side-nav-list.selected{
    background-color: #fff;
}
.flx_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-span{
    padding:7px 10px;
    display: flex;
}

button.mat-button{
    border: 1px solid #ccc;
    color: rgba(0,0,0,0.6);
}
.mat-card>.mat-card-actions:last-child{
    padding-top: 6px!important;
    text-align: center;
}
.footer-card{
    margin: 7px 10% 0px;
    padding: 0;
}
.footer-card .mat-card-header{
    justify-content: center;
    padding: 10px 0;
}
.img-h225{
    height: 225px;
}
.img-h200{
    height: 200px!important;
}