<section class="store-wrapper">
   
    <mat-grid-list gutterSize="{{_outerCellGt}}"  cols="9" [rowHeight]="50" class="flex-container">
        <mat-grid-tile colspan="2" class="def_bg bs cp hw_gd_area" *ngFor="let viewBy of viewByList">
            <div class="card_row fh pd_LR10" [routerLink]="[viewBy.load_view]" routerLinkActive="active-link">
                <div class="table_row fh">
                    <div class="table_row_cell img_sm">
                        <!-- <div class="img_sm" [ngStyle]="{'background-image': 'url(' + viewBy.img_url + ')'}"></div> -->
                        <img class="img_sm" src="{{viewBy.img_url}}">
                    </div>
                    <div class="table_row_cell pd-L7 txt_wrapper ln1_2 def_fc" style="width:calc(100% - 30px);">
                        <div class="cell_title cell-txt">{{viewBy.title}}</div>
                        <div class="cell_subtitle cell-txt">{{viewBy.sub_title}}</div>
                    </div> 
                </div>
            </div>
        </mat-grid-tile> 
       
        <mat-grid-tile colspan="3" class="def_bg bs">
            <div class="card_row fh pd_LR10">
                <div class="table_row fh">
                    <div class="table_row_cell ps_rlt">
                        <div class="cust_dis_ig ps_abs" style="top:9px;">
                            <span class="ps_abs lta ic"><i class="material-icons">location_on</i></span>
                            <input class="cust_dis_i" style="padding-left:35px;" placeholder="Bur Dubai, Dubai">
                            <span class="ps_abs rta ic"><i class="material-icons">add</i></span>
                            <span class="cust_dis_ig_addon"><i class="material-icons">my_location</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="hr_gt"></div>

    <div class="prod_short_view_dtls _mb-10" style="display:none;" *ngIf="false">
        <mat-list class="cat-header">
            <mat-list-item>Electronics: Computers & Accessories: Computer & Tablets: Laptop </mat-list-item>
        </mat-list>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="cust-panel-header">
                <mat-panel-description>
                    <div>
                        <span>P-Series P2540UA</span><span>by</span><span>acer</span><span>Acer Inc.</span> -<span>Electronics Company</span>
                    </div>
                </mat-panel-description>
                <mat-panel-title>
                        <div class="img-icon ic"><i class="material-icons">star_border</i></div>
                        <div class="img-icon ic"><i class="material-icons">swap_calls</i></div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="desc-header">Show Details</div>
            <div class="desc-details">
                <div class="flex-row">
                    <div style="flex-grow:1;"><span>SUK</span>&nbsp;<span>J-09398</span></div>
                    <div style="flex-grow:2;"><span>Category</span>&nbsp;<span>Electronics: Computers & Tablet:Laptops</span></div>
                </div>
                <div class="flex-row">
                    <div style="flex-grow:1;"><span>Tag</span>&nbsp;<span>Accer laptop,Accer laptop P-Series, Laptop. 15.6",Intel,</span></div>
                </div>
            </div>
        </mat-expansion-panel>
    </div><!-- /product short view details -->
  
    <div class="prod_short_view_dtls _mb-10" style="display:none;" *ngIf="false">
        <mat-list class="cat-header">
            <mat-list-item>Electronics: Computers & Accessories: Computer & Tablets: Laptop </mat-list-item>
        </mat-list>
        <mat-list class="prod-detail-header def_bg">
            <mat-list-item class="flxVar">
               <button class="cust_rip" matTooltip="Back!" [matTooltipPosition]="position" style="top:-4px;"> 
                   <i class="material-icons he">keyboard_arrow_left</i>
                </button>
            </mat-list-item>
            <mat-list-item class="flx10" style="line-height:1.6;">
                <div><span>P-Series P2540UA</span><span>by</span><span>acer</span><span>Acer Inc.</span> -<span>Electronics Company</span></div>
            </mat-list-item>
            <mat-list-item class="flx0 flx-row">
                <div class="img-icon ic"><i class="material-icons">star_border</i></div>
                <div class="img-icon ic"><i class="material-icons">swap_calls</i></div>
            </mat-list-item>
        </mat-list>
        <div class="desc-details">
            <div class="product-info-section" [ngClass]="productInfoToggle ? 'expand-product-info':''">
                
                   
                    <div class="product-details">
                        <!-- <div class="product-imgs" style="background: url(/assets/images/placeholders/store-product.jpg) no-repeat center; background-size: contain;height: 25vh;"></div> -->
                        <div class="product-imgs">
                            <img height="100%" width="100%" src="assets/images/placeholders/store-product.jpg">
                        </div>
                        <div class="product-highlights">
                          <table>
                            <tbody>
                              <tr>
                                <td class="highlight-key">Processor (CPU)</td>
                                <td class="highlight-value">Intel</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Processor Speed</td>
                                <td class="highlight-value">2.4 GHz - 2.7 GHz</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Display Resolution</td>
                                <td class="highlight-value">1920 x 1080 pixels</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Screen Size</td>
                                <td class="highlight-value">15.6 in</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Display Technology</td>
                                <td class="highlight-value">LED-Lit</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Hard-Drive Size</td>
                                <td class="highlight-value">256 GB - 2 TB</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Item Weight</td>
                                <td class="highlight-value">3.26 lbs - 5.27 lbs</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">Operating System</td>
                                <td class="highlight-value">Windows 10, Windows 10 Home</td>
                              </tr>
                              <tr>
                                <td class="highlight-key">RAM Type</td>
                                <td class="highlight-value">DDR4 SDRAM</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
            </div>
            <div class="_flex-box" style="margin: 0 -10px;margin-bottom: 10px;">
                <input type="checkbox" class="product-info-toggle" [(ngModel)]="productInfoToggle" id="productInfoToggle"/>
                <label for="productInfoToggle">{{productInfoToggle ? 'Hide info' : 'Show info'}}</label>
            </div>
            <div class="flex-row">
                <div style="flex-grow:1;"><span>SUK</span>&nbsp;<span>J-09398</span></div>
                <div style="flex-grow:2;"><span>Category</span>&nbsp;<span>Electronics: Computers & Tablet:Laptops</span></div>
            </div>
            <div class="flex-row">
                <div style="flex-grow:1;"><span>Tag</span>&nbsp;<span>Accer laptop,Accer laptop P-Series, Laptop. 15.6",Intel,</span></div>
            </div>
        </div>
    </div>
    <activity-filter></activity-filter>
    <!-- <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px" class="filter-accodian">
            <mat-panel-title class="flex-box">
            <img src="/assets/images/filter-icon.svg" style="height: 30px"/> Filters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-box justify-content-center"><span>No filters!</span></div>
    </mat-expansion-panel> -->
        
    <div class="hr_gt"></div>

    <div style="height:calc(100vh - 228px);">
        <router-outlet></router-outlet>
    </div>
  
</section>
