<div class="card-container _mb-10">
  <mat-card class="feed-card _p-0">
    <div class="transaction-details _flex-box _p-10">
      <div>
        <i class="material-icons feed-icon _light-text">shopping_cart</i>
      </div>
      <div>
        <div class="transaction-data-label _light-text">Date</div>
        <div class="transaction-data">18 July 2017</div>
      </div>
      <div>
        <div class="transaction-data-label _light-text">ID</div>
        <div class="transaction-data">2357-104-3</div>
      </div>
      <div>
        <div class="transaction-data-label _light-text">Items</div>
        <div class="transaction-data">01</div>
      </div>
      <div>
        <div class="transaction-data-label _light-text">Amount</div>
        <div class="transaction-data">650.00</div>
      </div>
    </div>

    <div class="cord-details _flex-box border-botttom-1">
      <div class="_img-thumbnail"
           [ngStyle]="{'background':'url(/assets/images/placeholders/front-detail-img.jpg)'}"></div>
      <div class="_flex-box _flex-column-direction cord-data">
        <div class="cord-name">Omega Insurance Brokers</div>
        <div class="cord-domain _light-text">Insurance Brokers</div>
      </div>
      <button mat-icon-button class="action-icon _ml-auto" style="width: 24px;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-card class="action-container _p-0">
        <button type="button" class="feed-action-btn" mat-button>Tag document</button>
        <button type="button" class="feed-action-btn" mat-button>View transactions</button>
        <button type="button" class="feed-action-btn" mat-button>View status</button>
      </mat-card>
    </div>

    <div class="feed-details">
      <div class="feed-summary _flex-box _mb-10">
        <div>
          <div class="feed-type">
            <span class="feed-status _light-text">Status updated -</span> Policy Isssued
          </div>
          <div class="feed-time _light-text">18 July 2017 at 12:28 PM</div>
        </div>

        <!--<button mat-icon-button class="action-icon ml-auto" style="width: 24px;">-->
          <!--<mat-icon>more_vert</mat-icon>-->
        <!--</button>-->
        <!--<mat-card class="action-container p-0">-->
          <!--<button type="button" class="feed-action-btn" mat-button>Tag document</button>-->
          <!--<button type="button" class="feed-action-btn" mat-button>View transactions</button>-->
          <!--<button type="button" class="feed-action-btn" mat-button>View status</button>-->
        <!--</mat-card>-->
      </div>
      <div class="feed-box">
        <img src="/assets/images/placeholders/feed-img.PNG" style="width: 100%; height: auto"/>
      </div>
    </div>

    <div class="feed-action _p-10">
      <button type="button" class="feed-push-btn" mat-button>
        <i _ngcontent-c3="" class="material-icons">last_page</i>&nbsp;Push
      </button>
    </div>
  </mat-card>
</div>

<div class="card-container _mb-10">
  <mat-card class="feed-card _p-0">
    <div class="feed-details">
      <div class="feed-summary _flex-box _mb-10">
        <div>
          <div class="feed-type">
            <span class="feed-status _light-text">Promoted -</span> Motor Insurance Policy
          </div>
          <div class="feed-time _light-text">18 July 2017 at 12:28 PM</div>
        </div>

        <button mat-icon-button class="action-icon _ml-auto" style="width: 24px;">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card class="action-container _p-0">
          <button type="button" class="feed-action-btn" mat-button>Make an inquiry</button>
          <button type="button" class="feed-action-btn" mat-button>Request a quote</button>
          <button type="button" class="feed-action-btn" mat-button>Why am i seeing this?</button>
        </mat-card>
      </div>
      <div class="feed-box">
        <img src="/assets/images/placeholders/feed-img-2.PNG" style="width: 100%; height: auto"/>
        <div class="feed-text _pt-10">
          <b>Why motor insurance is important?</b>
          <p>A motor insurance Policy that will cover all of your unfortunate incidents we have products that will serve all of the various needs whether it a comprehensive or a third party insurance.</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
