<mat-card class="p-0">
  <!-- <img class="placeholder-img" src="/assets/images/placeholders/promotion.gif" /> -->
  <div class="mt-1">
    
    <ngx-carousel  
    [inputs]="carouselBanner" 
    (carouselLoad)="carouselBannerLoad($event)">
        <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let Banner of carouselBannerItems">
            <img height="100" width="100%" src="{{Banner.name}}">
        </ngx-item>
  
      <button class='leftRs' NgxCarouselPrev>
        <!-- <i class="material-icons">keyboard_arrow_left</i> -->
      </button>
      <button class='rightRs' NgxCarouselNext>
        <!-- <i class="material-icons">keyboard_arrow_right</i> -->
      </button>
    </ngx-carousel>
    
  </div>
</mat-card>
