<!-- <<div class="_p-10 _flex-box _justify-content-center">
    <button class="main-action-btn" mat-raised-button>
    <mat-icon class="_light-text">cloud_upload</mat-icon> Upload
    </button>
    <button class="main-action-btn" mat-raised-button>
      <mat-icon class="record-icon">radio_button_checked</mat-icon> Record
    </button>
    <button class="main-action-btn" mat-raised-button>
      <mat-icon class="_light-text">videocam</mat-icon> View All
    </button>
  </div> -->


<div class="video-Container">
  <div class="contact-list ">
    <div class="_flex-box">
      <form class="_flex-box _p-5 _fw-400">
        <mat-form-field class=" _custom-mat-input _input-search _inline-label" >
          <input type="text" placeholder="Search units..." matInput>
        </mat-form-field>
        <button type="button" class="_black-btn-o search-form-submit-btn" mat-button>
            <span class="_svg-icon search-icon"></span>
        </button>
      </form>
      <button type="button"  mat-icon-button>
            <span class="_svg-icon add-icon"></span>
      </button>
    </div>
  </div>
  <div class="video-stream-box">
    <div class="video-stream-msg-container _light-text">
             Please select unit to begin recording.
    </div>
  </div>