<nav class="landing-page-nav">
  <a class="logo-link ml-15" [routerLink]="['/']">Pushcord</a>
  <ul class="nav-items-section mt-0 mb-0 mr-15">
    <li>
      <a [routerLink]="['/store']" routerLinkActive="nav-link-active" class="nav-link" mat-button>Store</a>
    </li>
    <li>
      <a [routerLink]="['/']" class="nav-link" mat-button>Blog</a>
    </li>
    <li class="mr-10">
      <a [routerLink]="['/login']" class="transparent-btn" mat-button>LOG IN</a>
    </li>
    <li>
      <a [routerLink]="['/register']" class="action-btn join-btn" mat-raised-button>JOIN</a>
    </li>
  </ul>
</nav>
