<div class="_fw-500 _pt-10 _pb-10 profile-heading">
  Welcome, Umair Ali Khan
</div>
<mat-card class="_p-0 _flex-box profile-cover">
  <img src="/assets/images/profile.PNG" style="height: 100%">
</mat-card>
<div class="_flex-box _mt-10">
  <mat-card class="_p-10" style="width: 45%">
    <form class="search-form _flex-box _fw-400">
      <mat-form-field class="_custom-mat-input  _input-search _inline-label" style="width: 100%">
        <input type="text" placeholder="Search settings & configuration" matInput>
      </mat-form-field>
      <button type="button" class="_black-btn-o search-form-submit-btn" mat-button>
        <span class="_svg-icon search-icon"></span>
      </button>
    </form>
  </mat-card>

  <mat-card style="width: calc(55% - 10px);" class="_ml-10 _p-10">
    <button type="button" class="custom-mat-input _black-btn-o _p-0 _mr-5 _ml-5 dashboard-action" mat-button>
      <span class="dashboard-action-text-color _fw-400">Add A New Device</span>
    </button>
    <button type="button" class="custom-mat-input _black-btn-o _p-0 _mr-5 _ml-5 dashboard-action" mat-button>
      <span class="dashboard-action-text-color _fw-400">Link Account</span>
    </button>
  </mat-card>
</div>

<div class="_mt-10 _flex-box">
  <div class="dashboard-links">

    <div class="dashboard-links-container">
      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Personal Info</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Account Info</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>About me</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Linked email & phone</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Language</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Billing address & location</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>My preference</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Contact points</button>
          <button type="button" class="dashboard-links-button _fw-400" disabled mat-button>Morbi sed pretium</button>
          <button type="button" class="dashboard-links-button _fw-400" disabled mat-button>Morbi sed pretium</button>
          <button type="button" class="dashboard-links-button _fw-400" disabled mat-button>Morbi sed pretium</button>
        </div>
      </mat-card>
    </div>
    <div class="dashboard-links-container">
      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Privacy & Security</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Passcodes and security question</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage verifications</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage connected accounts</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Alerts and block settings</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage authentication</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage visiblity</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Sharing and pushes</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Linked devices</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Trusted People</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Login Activity</button>
        </div>
      </mat-card>
    </div>
    <div class="dashboard-links-container">
      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Finance & payments</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage cards</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage bank accounts</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage paypal accounts</button>
        </div>
      </mat-card>

      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Communication</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Chat setting</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Phone setting</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Email setting</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Document setting</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Meeting setting</button>
        </div>
      </mat-card>
    </div>
    <div class="dashboard-links-container">
      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Notification Setting</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Priority listings</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Event alerts</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>sms & email updates</button>
        </div>
      </mat-card>

      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Device & unit setting</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage unit setting</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Manage linked devices</button>
        </div>
      </mat-card>

      <mat-card class="_p-0 flex_child">
        <div class="links-container-heading _flex-box">
          <button type="button" mat-icon-button>
            <span class="_svg-icon close-icon"></span>
          </button>
          <div class="_fw-500">Accessiblity</div>
        </div>
        <div>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Change theme</button>
          <button type="button" class="dashboard-links-button _fw-400" mat-button>Guided learning</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<mat-card class="_p-10 _mb-10">
  <div class="_flex-box">
    <div style="font-size: small;"><span class="_fw-500">Start Selling</span> <span class="_light-text"> - You can start selling Instantly</span></div>
    <div class="_ml-auto">
      <button type="button" class="custom-mat-input _black-btn-o _p-0 _mr-5 _ml-5 dashboard-action" mat-button>
        <span class="dashboard-action-text-color _fw-400">Setup Business Account</span>
      </button>

      <button type="button" class="custom-mat-input _black-btn-o _p-0 _mr-5 _ml-5 dashboard-action" mat-button>
        <span class="dashboard-action-text-color _fw-400">Start Selling</span>
      </button>
    </div>
  </div>
</mat-card>
