<div class="body-section" #bodySection>
  <nav-bar></nav-bar>
  <div class="main-container">
    <div class="component-grid-tile">
      <router-outlet></router-outlet>
    </div>
    <div class="sidebar-grid-style">
      <div class="sidebar-tile" #sidebarTile>
        <ads-slider></ads-slider>
        <running-transactions></running-transactions>
        <div class="footer-section _mt-10">
          <div class="footer-links">
            <a href="" class="_black-link">Terms</a>
            <i class="material-icons">fiber_manual_record</i>
            <a href="" class="_black-link">Blogs</a>
            <i class="material-icons">fiber_manual_record</i>
            <a href="" class="_black-link">Advertising</a>
            <i class="material-icons">fiber_manual_record</i>
            <a href="" class="_black-link">About</a>
            <i class="material-icons">fiber_manual_record</i>
            <a href="" class="_black-link">Career</a>
            <i class="material-icons">fiber_manual_record</i>
            <a href="" class="_black-link">Help</a>
          </div>
          <a>Pushcord &copy; 2017</a>
        </div>
      </div>
    </div>
  </div>
</div>

