:root{
    --placeholder-color: #7d7d7d;
    --txt-color: #7d7d7d;
}
.def_bg{background-color: #fff;}
/* padding */
.pd_t15{padding-top: 15px;}
.pd_l8{padding-left: 0.5rem;}
.fh{height: 100%;}
.selected{color: #0091e5!important;font-weight: 500!important;}
.active-link{background-color: rgba(220, 225, 229, 0.5);}
.cp{cursor: pointer;}
/* fonts */
.txt_fn{font-size: 14px;font-weight: 400;color:var(--txt-color);}
.txt_fb6{font-size: 14px;font-weight: 600;color:var(--txt-color);}

/* flex item */
.just_start > .mat-figure{align-items: flex-start;justify-content: flex-start;}

/* horizontal gap/list breaker */
.hr_gt{display: block;clear: both;margin: 0.5em 0;}
/* default box-shadow */
.bs{box-shadow: 0 1px 1px -5px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12) !important;}

.def_search{width: 100%;height: 30px;border: 1px solid #ccc;padding: 0 10px;opacity: 0.5;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--placeholder-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--placeholder-color);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--placeholder-color);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--placeholder-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--placeholder-color);
}
/* wrap test in two line */
.wrap_txt_ln2{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}