<mat-card class="product-details-card p-0 mb-10">
  <div class="product-basic-data flex-box">
    <button type="button" mat-icon-button><i class="material-icons">chevron_left</i></button>
    <div>
      <h3 class="product-title">P-Series P2540UA-AB51</h3>&nbsp;
      <small>by</small>&nbsp;
      <b>Acer Inc.</b>
      &nbsp;-&nbsp;Electronics company
    </div>
    <div class="flex-box ml-auto">
      <button type="button" mat-icon-button><i class="material-icons light-text">star_border</i></button>
      <button type="button" mat-icon-button><i class="material-icons light-text">share</i></button>
    </div>
  </div>
  <div class="product-details flex-box p-10">
    <div class="product-imgs" style="background: url(/assets/images/placeholders/store-product.jpg) no-repeat center; background-size: contain;height: 25vh;"></div>
    <div class="product-highlights">
      <table>
        <tbody>
          <tr>
            <td class="highlight-key">Processor (CPU)</td>
            <td class="highlight-value">Intel</td>
          </tr>
          <tr>
            <td class="highlight-key">Processor Speed</td>
            <td class="highlight-value">2.4 GHz - 2.7 GHz</td>
          </tr>
          <tr>
            <td class="highlight-key">Display Resolution</td>
            <td class="highlight-value">1920 x 1080 pixels</td>
          </tr>
          <tr>
            <td class="highlight-key">Screen Size</td>
            <td class="highlight-value">15.6 in</td>
          </tr>
          <tr>
            <td class="highlight-key">Display Technology</td>
            <td class="highlight-value">LED-Lit</td>
          </tr>
          <tr>
            <td class="highlight-key">Hard-Drive Size</td>
            <td class="highlight-value">256 GB - 2 TB</td>
          </tr>
          <tr>
            <td class="highlight-key">Item Weight</td>
            <td class="highlight-value">3.26 lbs - 5.27 lbs</td>
          </tr>
          <tr>
            <td class="highlight-key">Operating System</td>
            <td class="highlight-value">Windows 10, Windows 10 Home</td>
          </tr>
          <tr>
            <td class="highlight-key">RAM Type</td>
            <td class="highlight-value">DDR4 SDRAM</td>
          </tr>
        </tbody>
      </table>
      <table class="mt-10 pt-10" style="border-top: 2px solid rgba(0,0,0,0.1)">
        <tbody>
        <tr>
          <td class="highlight-key">SKU</td>
          <td class="highlight-value">J-09349</td>
        </tr>
        <tr>
          <td class="highlight-key">Category</td>
          <td class="highlight-value">Electrnics: Computers & tables: Laptops</td>
        </tr>
        <tr>
          <td class="highlight-key">Tags</td>
          <td class="highlight-value">Acer laptop, Acer laptop P-series, Laptop. 15.6", Intel,</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="product-price p-10 flex-box">
    <span>Price:&nbsp;&nbsp;<h3 class="product-price-amount">AED 1199.00</h3></span>
    <button type="button" class="mat-btn-success ml-auto flex-box" mat-button><i
      class="material-icons">shopping_basket</i>&nbsp;<span>Select</span></button>
  </div>
</mat-card>
<mat-card class="product-details-card p-0 mb-10">
  <div class="product-description">
    <mat-tab-group>
      <mat-tab label="Description" class="pt-10">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore
          veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
          quia dolor sit amet, consectetur,
          adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>
      </mat-tab>
      <mat-tab label="Additional Info">Additional Info goes here</mat-tab>
      <mat-tab label="Full Specification">Full Specification goes here</mat-tab>
    </mat-tab-group>
    <h3></h3>
  </div>
</mat-card>
