<mat-card class="flex-box search-box-card">
  <img src="/assets/images/search-icon.svg">
  <mat-form-field class="custom-mat-input border-less-mat-input inline-label">
    <input type="text" placeholder="Search store here..." matInput>
  </mat-form-field>
  <mat-autocomplete>
    <mat-option>
    </mat-option>
  </mat-autocomplete>
</mat-card>

<div class="display-block">
  <h3>Laptops</h3>
  <div class="flex-box flex-wrap">
    <div class="product-thumbnail-card">
      <mat-card class="product-thumbnail p-0">
        <div class="display-block" [ngStyle]="{'background':'url(/assets/images/placeholders/store-product.jpg)'}">
          <div class="top-actions flex-box">
            <div class="thumbnail-label popular-label">Most Popular</div>
            <div class="flex-box ml-auto">
              <button type="button" mat-icon-button><span class="svg-icon mark-icon"></span></button>
              <button type="button" mat-icon-button><i class="material-icons">more_vert</i></button>
            </div>
          </div>
          <div class="bottom-actions flex-box justify-content-space-around">
            <button type="button" mat-icon-button><i class="material-icons">shopping_cart</i></button>
            <button type="button" mat-icon-button><span class="svg-icon share-icon"></span></button>
            <button type="button" mat-icon-button [routerLink]="[0]"><i class="material-icons">visibility</i></button>
          </div>
        </div>
      </mat-card>
      <div class="product-data p-10" [routerLink]="[0]">
        <h3>P-Series P2540UA-AB51</h3>
        <div><small>by</small> <b>Asus</b></div>
        <div><small>Price range</small> <b>AED 1200</b></div>
      </div>
    </div>
    <div class="product-thumbnail-card">
      <mat-card class="product-thumbnail p-0">
        <div class="display-block" [ngStyle]="{'background':'url(/assets/images/placeholders/store-product.jpg)'}">
          <div class="top-actions flex-box">
            <div class="thumbnail-label green-label">Sale</div>
            <div class="flex-box ml-auto">
              <button type="button" mat-icon-button><i class="material-icons">star_border</i></button>
              <button type="button" mat-icon-button><i class="material-icons">more_vert</i></button>
            </div>
          </div>
          <div class="bottom-actions flex-box justify-content-space-around">
            <button type="button" mat-icon-button><i class="material-icons">shopping_cart</i></button>
            <button type="button" mat-icon-button><i class="material-icons">share</i></button>
            <button type="button" mat-icon-button><i class="material-icons">error_outline</i></button>
          </div>
        </div>
      </mat-card>
      <div class="product-data p-10">
        <h3>P-Series P2540UA-AB51</h3>
        <div><small>by</small> <b>Asus</b></div>
        <div><small>Price range</small> <b>AED 1200</b></div>
      </div>
    </div>
    <div class="product-thumbnail-card">
      <mat-card class="product-thumbnail p-0">
        <div class="display-block" [ngStyle]="{'background':'url(/assets/images/placeholders/store-product.jpg)'}">
          <div class="top-actions flex-box">
            <!--<div class="thumbnail-label"></div>-->
            <div class="flex-box ml-auto">
              <button type="button" mat-icon-button><i class="material-icons">star_border</i></button>
              <button type="button" mat-icon-button><i class="material-icons">more_vert</i></button>
            </div>
          </div>
          <div class="bottom-actions flex-box justify-content-space-around">
            <button type="button" mat-icon-button><i class="material-icons">shopping_cart</i></button>
            <button type="button" mat-icon-button><i class="material-icons">share</i></button>
            <button type="button" mat-icon-button><i class="material-icons">error_outline</i></button>
          </div>
        </div>
      </mat-card>
      <div class="product-data p-10">
        <h3>P-Series P2540UA-AB51</h3>
        <div><small>by</small> <b>Asus</b></div>
        <div><small>Price range</small> <b>AED 1200</b></div>
      </div>
    </div>
    <div class="product-thumbnail-card">
      <mat-card class="product-thumbnail p-0">
        <div class="display-block" [ngStyle]="{'background':'url(/assets/images/placeholders/store-product.jpg)'}">
          <div class="top-actions flex-box">
            <div class="thumbnail-label orange-label">Best seller</div>
            <div class="flex-box ml-auto">
              <button type="button" mat-icon-button><i class="material-icons">star_border</i></button>
              <button type="button" mat-icon-button><i class="material-icons">more_vert</i></button>
            </div>
          </div>
          <div class="bottom-actions flex-box justify-content-space-around">
            <button type="button" mat-icon-button><i class="material-icons">shopping_cart</i></button>
            <button type="button" mat-icon-button><i class="material-icons">share</i></button>
            <button type="button" mat-icon-button><i class="material-icons">error_outline</i></button>
          </div>
        </div>
      </mat-card>
      <div class="product-data p-10">
        <h3>P-Series P2540UA-AB51</h3>
        <div><small>by</small> <b>Asus</b></div>
        <div><small>Price range</small> <b>AED 1200</b></div>
      </div>
    </div>
  </div>
</div>
