<footer class="footer-nav p-10">
  <div>
    &copy; Pushcord 2010 - 2017
  </div>
  <ul class="language-links m-0 ml-auto">
    <li>
      <a href="#" class="footer-link">English</a>
    </li>
    <li>
      <a href="#" class="footer-link">Francais</a>
    </li>
    <li>
      <a href="#" class="footer-link">Bahasa</a>
    </li>
    <li>
      <a href="#" class="footer-link">Indonesia</a>
    </li>
    <li>
      <a href="#" class="footer-link">PyccKnn</a>
    </li>
    <li>
      <a href="#" class="footer-link">Espanol</a>
    </li>
    <li>
      <a href="#" class="footer-link">Portugue</a>
    </li>
    <li>
      <a href="#" class="footer-link">Deutsh</a>
    </li>
    <li>
      <a href="#" class="footer-link">Italiano</a>
    </li>
  </ul>
</footer>
