<mat-grid-list cols="15" class="fh txt_fn">
    <mat-grid-tile class="fh just_start" colspan="3">
        <mat-nav-list class="pd_t15">
            <ul class="side-nav-bar" *ngFor="let navCategory of navListItems">
                <li (click)="navCategory.isCollapsed = !navCategory.isCollapsed" [innerText]="navCategory.category">
                    <i class="material-icons" [class.collapsed]="navCategory.isCollapsed">arrow_drop_down</i>
                </li>
                <ul [class.collapsed]="navCategory.isCollapsed">
                   <li *ngFor="let navSubCat of navCategory['subCategory']" (click)="getItems($event)" [innerText]="navSubCat.subCategoryName"></li>  
                </ul>
            </ul>
         </mat-nav-list>
    </mat-grid-tile>
    <mat-grid-tile class="just_start fh" colspan="12" style="overflow-y:auto;"> 
        <div class="flx_container pd_l8">
            <div class="def_bg bs search-span">
                <div class="" style="flex-grow:1;">
                    <i class="material-icons def_search_icon">search</i>
                    <input class="def_search" placeholder="Search listings here">
                </div>
                <div style="flex-grow:1;">&nbsp;</div>
            </div>
            <div class="hr_gt"></div>
            <div class="content_span">
                <div class="emp_view" *ngIf="!hasItems">No Items found...</div>
                <mat-card class="product_card def_fc bs_none" style="margin-right:10px;" *ngFor="let product of productsItemList">
                    <div class="promo_tag" [ngClass]="{'fc_rm':product.label =='Best Sellers', 'fc_ep':product.label =='Most Popular', 'fc_success':product.label =='sale'}" *ngIf="product.label !== 'Regular'">{{product.label}}</div>
                    <img mat-card-image [class.img-h200]="product.label ==='Regular'" class="img-h275 mr_bz" src="{{product.itemUrl}}" alt="street img">
                    
                    <div class="fex_container">
                        <i class="material-icons" (click)="addToCart(product)">add_shopping_cart</i>
                        <i class="material-icons">autorenew</i>
                        <i class="material-icons">priority_high</i>
                    </div>
                                         
                    
                    <mat-card-content class="mat_card_content def_com_bg">
                        <mat-card-header class="rc_card_mr">
                            <div class="table_row_cell txt_wrapper ln1_2" style="width:calc(100% - 120px);">
                                <div class="cell_title">{{product.modelNo}}</div>
                            </div> 
                            <div class="text-center cp ic" style="width:45px;" (click)="toggleStar = !toggleStar">
                                <i class="material-icons"  [class.hidden]="toggleStar">star_border</i>
                                <i class="material-icons"  [class.hidden]="!toggleStar">star</i>
                            </div>
                            <div class="text-center ic" style="width:45px;" [matMenuTriggerFor]="menu">
                                <i class="material-icons cp">more_vert</i>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Item 1</button>
                                    <button mat-menu-item>Item 2</button>
                                </mat-menu>
                            </div>
                        </mat-card-header>
                        <mat-card-header class="rc_card_mr">
                            <div>by <strong>{{product.provider}}</strong></div>
                        </mat-card-header>
                        <mat-card-header class="rc_card_mr">
                            <div>Available at <b>{{product.store}}</b></div>
                        </mat-card-header>
                        <mat-card-header class="rc_card_mr">
                            <div>price range <b>{{product.priceRange}}</b></div>
                        </mat-card-header>
                    </mat-card-content>
                  </mat-card>
            </div>
            <mat-card class="footer-card" *ngIf="hasItems">
                <mat-card-header class="ldm">Load More</mat-card-header>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list> 