<mat-card class="_flex-box _p-10">
  <mat-form-field class="_custom-mat-input _pull-up-placeholder transactions-search _inline-label">
    <input type="text" name="searchInput" placeholder="Search transactions here..." matInput>
  </mat-form-field>
  <div class="_ml-auto">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="grid">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-card>
