@import "~assets/css/variables";
@import "~assets/css/svg-icons";

mat-expansion-panel-header {
  border-bottom: 1px solid transparent;
}

mat-expansion-panel-header.mat-expanded {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.filter-search-box{
  width: 40%;
}

.filter-type-box{}

.filter-type{
  text-align: center;
  font-size: smaller;
  background-color: #e8e8e8;
  color: $light-black-color;
  font-weight: 400;
}

.filter-item{
  width: 80px;
  height: 50px;
  text-align: center;
  line-height: 1em;
  box-shadow: unset;
  margin-top: 3px;
}

.filter-item:hover, .mat-button-toggle-checked{
  background-color: #f4f7f9;
  cursor: pointer;
  font-weight: 500;
}

.filter-item:hover ._svg-icon {
  fill: $primary-color;
}

.filter-item-text{
  font-size: smaller;
  display: block;
}

td {
  text-align: center;
}

.selected-filter-item{
  margin: 3px;
  border: none;
  padding: 5px;
  background-color: #eaeaea;
  color: #3a3a3a;
  font-size: small;
  border-radius: 4px;
  text-transform: capitalize;
}

.remove-filter-icon {
  margin-left: 10px;
  cursor: pointer;
}

.remove-filter-icon:hover {
  color: $primary-color;
}

.clear-selected-filters{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  background-color: #fff;
  color: $secondary-color;
  font-size: small;
  border-radius: 4px;
  cursor: pointer;
}

.discuss-icon {
  @include pc-discuss;
}

.filter-item:hover .discuss-icon, .mat-button-toggle-checked .discuss-icon {
  @include pc-discuss-selected;
}

.updates-icon {
  @include pc-discuss;
}

.filter-item:hover .updates-icon, .mat-button-toggle-checked .updates-icon {
  @include pc-discuss-selected;
}

.tasks-icon {
  @include pc-discuss;
}

.filter-item:hover .tasks-icon, .mat-button-toggle-checked .tasks-icon {
  @include pc-discuss-selected;
}

.shares-icon{
  @include pc-share-alt;
  height: 27px;
  width: 25px;
}

.filter-item:hover .shares-icon, .mat-button-toggle-checked .shares-icon {
  @include pc-share-alt;
}

.chat-icon{
  @include pc-chat;
}

.chat-icon.new-notification{
 @include pc-chat-noti;
}

.filter-item:hover .chat-icon, .mat-button-toggle-checked .chat-icon {
  @include pc-chat-selected;
}

.email-icon{
  @include pc-email;
}

.email-icon.new-notification{
  @include pc-email-noti;
}

.filter-item:hover .email-icon, .mat-button-toggle-checked .email-icon {
  @include pc-email-selected;
}

.phone-icon{
  @include pc-phone;
}

.phone-icon.new-notification{
  @include pc-phone-noti;
}

.filter-item:hover .phone-icon, .mat-button-toggle-checked .phone-icon {
  @include pc-phone-selected;
}

.meeting-icon{
  @include pc-meeting;
}

.meeting-icon.new-notification{
  @include pc-meeting-noti;
}

.filter-item:hover .meeting-icon, .mat-button-toggle-checked .meeting-icon {
  @include pc-meeting-selected;
}
