<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px" class="filter-accodian">
    <mat-panel-title class="flex-box">
      <img src="/assets/images/filter-icon.svg" style="height: 30px"/> Filters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex-box justify-content-center"><span>No filters!</span></div>
</mat-expansion-panel>

<div class="flex-box">
  <div class="filter-container"></div>
  <div class="feed-container flex-column-direction">
    <mat-card class="flex-box search-box-card">
      <img src="/assets/images/search-icon.svg">
      <mat-form-field class="custom-mat-input border-less-mat-input inline-label">
        <input type="text" placeholder="Search fronts" matInput>
      </mat-form-field>
      <mat-autocomplete>
        <mat-option>
        </mat-option>
      </mat-autocomplete>
    </mat-card>

    <div class="search-results-container mt-15" *ngFor="let resultType of searchResults">
      <div class="result-type">{{resultType.type}}</div>
      <div class="results-box">
        <mat-card class="result-card" [routerLink]="['/main/fronts/'+i]" *ngFor="let result of resultType.list; let i=index">
          <div class="result-data flex-box">
            <div class="img-thumbnail" [ngStyle]="{'background':'url('+ result.img +')'}"></div>
            <div class="result-details">
              <div class="result-name">{{result.name}}</div>
              <div class="result-domain">{{result.domain}}</div>
            </div>
          </div>
          <div class="customers-count">
            Customer <b>({{result.customers}})</b>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
