.product-details-card {
}

.product-basic-data {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-title, .product-price-amount {
  margin: 0;
  display: inline-block;
}

.product-title {
  color: #0091e5;
}

.product-price .material-icons {
  font-size: 16px;
}

.product-imgs {
  width: 45%;
}

.product-highlights {
  width: 55%;
}

.product-highlights table {
  width: 100%;
}

.highlight-key {
  color: #7d7d7d;
}

.highlight-value {
  font-weight: 500;
}

.highlight-key, .highlight-value {
  padding: 5px;
}

.product-price {
}

.product-description {
}

/* Icons CSS :: Start */

.share-icon {
  background: url("/assets/images/base/IconsMain_v04.01_Compare_Initial.svg");
}

button:hover .share-icon {
  background: url("/assets/images/base/IconsMain_v04.01_Compare_Selected.svg");
}

.mark-icon{
  background: url("/assets/images/base/IconsMain_v04.02_Mark.svg");
}

button:hover .mark-icon {
  background: url("/assets/images/base/IconsMain_v04.02_mark_selected.svg");
}

/* Icons CSS :: End */
