<div class="_display-block">
  <mat-card class="_flex-box _search-box-card">
    <img src="/assets/images/search-icon.svg">
    <mat-form-field class="_custom-mat-input _border-less-mat-input _inline-label">
      <input type="text" placeholder="Search contacts" matInput>
    </mat-form-field>
    <mat-autocomplete>
      <mat-option>
      </mat-option>
    </mat-autocomplete>
  </mat-card>

  <div class="contacts-container _flex-box _flex-wrap _mt-15">
    <div class="contact-box" *ngFor="let contact of contactPoints; let i=index">
      <mat-card class="contact-card">
        <div class="contact-data _flex-box">
          <div class="_img-thumbnail" [ngStyle]="{'background':'url('+ contact.img +')'}"></div>
          <div class="contact-details">
            <div class="contact-name _ellipse-text-overflow" [title]="contact.name">{{contact.name}}</div>
            <div class="contact-domain _ellipse-text-overflow" [title]="contact.domain">{{contact.domain}}</div>
          </div>
          <button class="_ml-auto" mat-icon-button type="button"><i class="material-icons">more_vert</i></button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
